.p-input-icon {
  margin-top: -0.8rem;
}

.row-cursor-pointer tr:hover {
  cursor: pointer;
}

.data-pair {
  display: flex;
  flex-direction: column;
  justify-items: start;

  :first-child {
    color: #40c4ff;
    font-size: 12px;
  }
  :nth-child(2) {
    color: #ebeaea;
    font-size: 14px;
  }
}
